{:itonami.blueprint/id "cloud-itonami-iso3166-jpn-fsa"
 :itonami.blueprint/name "Independent FSA Payment-Services & Financial-Regulatory Compliance Service — Japan (FSA)"
 :itonami.blueprint/iso3166 "JPN-FSA"
 :itonami.blueprint/iso3166-parent "JPN"
 :itonami.blueprint/ooyake-id "gov.jpn.finreg"
 :itonami.blueprint/domain :public-sector/fsa-financial-compliance
 :itonami.blueprint/license "AGPL-3.0-or-later"
 :itonami.blueprint/social-impact [:payment-services-clarity :financial-regulatory-compliance :public-spend-transparency]
 :itonami.blueprint/governor :financial-regulatory-compliance-governor
 :itonami.blueprint/robotics false
 :itonami.blueprint/required-technologies [:identity :forms :dmn :bpmn :audit-ledger]
 :itonami.blueprint/status :public-oss
 :itonami.blueprint/organization {:ooyake-id "gov.jpn.finreg" :official-url "http://www.fsa.go.jp" :head-role "金融庁長官" :contact-page "https://www.wikidata.org/wiki/Q615316"}}
